@{
    ViewData["Title"] = "Login Register";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 10px">
	<div class="mr-auto">
		<img class="navbar-brand" src="~/css/csharp_logo.png" width=50px>
		<h2 class="navbar-brand" style="color:white;">SharpMail</h2>
	</div>
	<div>
		<div class="navbar-nav mr-2">
			<a class="nav-item btn btn-outline-light" href="/register" style="margin-right: 10px">Register</a>
			<a class="nav-item btn btn-outline-light" href="/">Log In</a>
		</div>
	</div>
</nav>
<div class="text-center">
    <h1 class="display-4">Welcome Back</h1>
    @model Login
    <div class="row justify-content-center" style="margin-right: 0px;">
	    <div class="card-body col-sm-4">
	    	<form method="post" action="/logCheck">
	    		<div class="form-group">
	    			<label>Email</label>
	    			<input class="form-control" type="text" asp-for="LogEmail" placeholder="Ename@sharpmail.com">
	    			<span asp-validation-for="LogEmail" style="color:red"></span>
	    		</div>
	    		<div class="form-group">
	    			<label>Password</label>
	    			<input class="form-control" type="password" asp-for="LogPassword">
	    			<span asp-validation-for="LogPassword" style="color:red"></span>
	    		</div>
	    		<input type="submit" class="btn btn-outline-dark" name="Log in">
	    	</form>
	    </div>
	</div>
</div>
